:root {
  --almost-white: #fafafa;
  --medium-gray: #696969;
  --almost-blue: #083aa9;
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

* {
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: "Karla", sans-serif;
}

.skewed {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 17%;
  background: #083ba9;
  z-index: 0;
  transform: skewY(6deg);
  transform-origin: top right;
}

.skewed--shadow {
  -webkit-box-shadow: 0px 2px 0px 0px rgba(255, 255, 255, 0.4);
  -moz-box-shadow: 0px 2px 0px 0px rgba(255, 255, 255, 0.4);
  box-shadow: 0px 2px 0px 1px rgba(255, 255, 255, 0.4);
}

/* Nav */
.container {
  width: 90%;
  margin: 0 auto;
  overflow: hidden; /*Lo que salga del contenedor se esconde*/
  max-width: 1200px;
}

.nav {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav--scrolled {
  /* max-width: 100%; */
  width: 100%;
  padding: 0 25px;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  background: var(--almost-blue);
  opacity: 0.95;
}

.nav__img {
  padding-bottom: 10px;
  width: 50px;
  border-radius: 100px;
  z-index: 0;
}

.nav__hamburguer {
  width: 30px;
  height: 50%;
  background-image: url(../img/icon-menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

  z-index: 100; /*Superponer un elemento sobre otro*/
  transition: background-image 0.3s;
}

.nav__hamburguer--open {
  background-image: url(../img/icon-close-menu.svg);
}

.nav__overlay {
  background-color: #0000009c;
  position: fixed;
  inset: 0; /*Que ocupe todo el navegador*/

  opacity: 0;
  pointer-events: none;
  transition: 0.3s opacity;
}

.nav__overlay--show {
  opacity: 1;
  /* Eventos del mouse a los originales */
  pointer-events: unset;
}

.nav__menu-list {
  position: absolute;
  /* Que ocupe todo el alto */
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #fff;
  width: 65%;
  max-width: 400px;
  padding: 0;
  list-style: none;
  overflow: auto; /*Si se necesita espacio genera un scroll*/
  padding: 70px 0;
}

.nav__menu-item {
  width: 80%;
  margin: 0 auto;
  cursor: pointer;
  padding: 20px 0;
  color: var(--medium-gray);
}

.nav__menu-item:has(.nav__parent) {
  padding: 0;
}

.nav__link {
  text-decoration: none;
  color: var(--medium-gray);
}

/* Main */

.main__banner {
  background: url(../img/Banner-section.jpg);
  background-size: cover;
  overflow: hidden;

  margin: 15px 0 0 0;
  padding: 10px 25px;
}

.main__article {
  padding: 56px 0;
  text-align: center;
}

.main__title {
  margin-top: 10px;

  font-size: 1.8rem;
  color: var(--almost-white);
}

.main__paragraph {
  line-height: 1.5;
  margin: 1.3em 0;
  color: rgba(255, 255, 255, 0.7);
}

.main__cta {
  background-color: var(--almost-blue);
  color: #fff;
  display: inline-block;
  font-size: 1.2em;
  margin: 20px 0;
  padding: 0.8em 1.3em;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
}

.main__cta-icon {
  vertical-align: sub;
  margin-right: 5px;
}

.main__cta:hover {
  box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.49);
}

.carousel__services {
  width: 100%;
  height: 400px;
  background: #f4f4f4;

  overflow: hidden;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-columns: 10px 1fr 10px;
  grid-template-areas:
    ". title ."
    ".  card  .";

  align-items: center;
  column-gap: 1em;
}

.carousel__title {
  grid-area: title;

  justify-self: center;
  font-size: 180%;
  word-spacing: 2px;
  letter-spacing: 1px;
  color: #4c79ad;
  text-align: center;
}

.carousel__services-card {
  overflow-y: hidden;
  height: 335px;
  padding: 0.8em;
  background: #fafafa;
  pointer-events: none;

  border-radius: 20px;
  box-shadow: 2px 5px 30px #bebebe, -2px -5px 30px #ffffff;

  text-align: center;
  opacity: 0;
}

.carousel__services-card--show {
  opacity: 1;
  pointer-events: unset;
  grid-area: card;
  align-self: start;
}

.card-img {
  width: 90%;
  height: 60%;
  border-radius: 0.5rem;
  transition: 0.3s ease;
  overflow: hidden;

  margin: 0 auto;
  background: #ebebeb;
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  border-radius: 3px;
}

.card-info h3 {
  margin: 15px 0 6px;

  font-weight: bold;
  color: #4c79ad;
}

.card-info p {
  width: 90%;

  margin: 0 auto;
  font-size: 1em;
  color: #727477;
  text-align: center;
}

.main__quality-grid {
  margin-top: 10px;

  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 0.2fr 1fr 0.2fr;
  grid-template-areas:
    ". title ."
    ". first ."
    ". second ."
    ". third .";
  justify-items: center;
}

.main__quality-grid h2 {
  grid-area: title;

  font-size: 180%;
  word-spacing: 2px;
  letter-spacing: 1px;
  color: #4c79ad;
  text-transform: uppercase;
  text-align: center;
}
.main__quality-grid h2:after {
  display: block;
  height: 2px;
  background-color: #4c79ad;
  content: "";
  width: 100px;
  margin: 0 auto;
  margin-top: 15px;
}

.main__quality-items {
  margin-top: 10px;
  word-spacing: 2px;
}

.first {
  grid-area: first;
  text-align: center;
}

.second {
  grid-area: second;
  text-align: center;
}

.third {
  grid-area: third;
  text-align: center;
}

.main__quality-items span {
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  color: #4c79ad;
}

.main__quality-items p {
  color: #727477;
}

.main__about {
  /* height: 90%; */
  background: #f4f4f4;
  padding: 15px 0;
}

.main__about-items {
  margin: 15px auto;
  width: 80%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  border-radius: 20px;
  background: #fafafa;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
}

.main__about-items h2 {
  font-size: 1.5em;
  color: #4c79ad;
  text-transform: uppercase;
  text-align: center;
}

.main__about-items h2:after {
  display: block;
  height: 2px;
  background-color: #4c79ad;
  content: "";
  width: 100px;
  margin: 0 auto;
  margin-top: 15px;
}

.main__about-items p {
  width: 95%;
  font-size: 1em;
  color: #727477;
  text-align: center;
}

.button-whatsapp {
  position: fixed;
  right: 2px;
  bottom: 15px;
}

.button-whatsapp:hover {
  transform: scale(1.1);
}

.footer {
  background-color: #4c79ad;

  padding: 15px 0;

  text-align: center;
}

.footer-nav {
  padding: 0;

  list-style: none;
}

.footer-nav li {
  margin: 5px 0;

  font-size: 0.9em;
}

.footer-nav li a {
  color: #fafafa;
  text-decoration: none;
}

.footer-nav li a:hover {
  color: #696969;
}

.footer__row-items h4 {
  color: #f3f3f3;
  font-size: 1em;
  margin-bottom: 7px;
}

.footer__row-items p {
  color: #f3f3f3;

  text-align: center;
  margin-top: 3px;
  font-size: 0.9em;
}

.footer-contact a {
  text-decoration: none;
  color: #f3f3f3;
}

.footer-contact a:hover {
  color: #696969;
}

.footer__row-icon {
  vertical-align: sub;
  margin-right: 2px;

  font-size: 20px !important;
}

hr {
  border: 1px solid #bebebe;
  width: 80%;

  margin: 15px auto;
}

.footer__social-icon {
  margin: 0 5px;

  filter: invert(100%);
}

.footer__social-icon:hover {
  transform: scale(1.1);
}

.footer p {
  color: #f3f3f3;
  margin-top: 10px;
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .skewed {
    transform: skewY(3deg);
    height: 11%;
  }

  .main__banner {
    margin: 0;
  }

  .nav--scrolled {
    width: 100%;
    padding: 0 40px;
  }

  .carousel__services {
    width: 100%;

    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "card";
    padding: 10px;
  }

  .carousel__title {
    display: none;
  }

  .carousel__services-card {
    height: 380px;

    box-shadow: none;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "img info";
  }

  .carousel__services-card--show {
    opacity: 1;
    pointer-events: unset;
    grid-area: card;
  }

  .card-img {
    grid-area: img;
    width: 100%;
    height: 100%;
    background: none;
  }

  .card-info {
    grid-area: info;
    margin: 0;
    width: 100%;
    align-self: center;
  }

  .card-info h3 {
    font-size: 2.2em;
  }

  .card-info p {
    font-size: 1.1em;
  }

  .main__quality-grid {
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2px;

    grid-template-areas:
      "title title title"
      "first second third";
    justify-items: center;

    padding: 10px;
  }

  .main__quality-items {
    place-self: center;
    padding: 0;
    margin: 0;
  }

  .main__about {
    padding: 10px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .main__about-items {
    width: 90%;
    height: 300px;
  }

  .main__about-items h2 {
    font-size: 1.4em;
  }

  .footer__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "about contact";
    grid-column-gap: 10px;
    justify-items: center;
  }

  .footer-about {
    grid-area: about;
    place-self: center;
  }

  .footer__row-items-contact {
    grid-area: contact;
  }
}

/* Desktop */
@media screen and (min-width: 1024px) {
  .skewed {
    transform: skewY(1deg);
    height: 15%;
  }

  .nav {
    gap: 2em;
    overflow: visible;
    padding: 20px 25px;
    z-index: 100;
  }

  .nav--scrolled {
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding: 20px 95px;
  }

  .nav__img {
    width: 63px;
    padding-bottom: 15px;
  }

  .nav__hamburguer {
    display: none;
  }

  .nav__overlay {
    position: unset;
    background-color: transparent;
    opacity: 1;
    pointer-events: unset;
    flex: 1;
  }

  .nav__menu-list {
    position: unset;
    width: 100%;
    max-width: unset;
    background-color: unset;
    padding: 0;
    overflow: unset;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 3.5em;
  }

  .nav__menu-item {
    width: max-content;
    margin: 0;
    padding: 0;

    position: relative;
  }

  .nav__link {
    color: var(--almost-white);
  }

  .main__grid {
    margin: 0 auto;
    max-width: 1200px;
    width: 90%;

    gap: 2em;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "text img";

    padding: 30px 0 15px 0;
  }

  .main__picture {
    max-height: 500px;
  }

  .main__img {
    height: 100%;
  }

  .main__article {
    text-align: left;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .main__brands {
    margin: auto 0 0 0;
  }

  .main__texts {
    margin: auto 0;
  }

  .main__title {
    font-size: 3.5rem;
  }

  .main__paragraph {
    margin: 2em 0;
  }
}
